#screen{
    margin-top:25px;
    width:832px;
    height:512px;
    border: #777 2px solid;
    border-radius:5px;
    margin-left:auto;
    margin-right:auto;    
}

canvas{
/*     position:absolute; */
/*
    margin-top:10px;
    margin-left:10px;
*/
    border-radius:5px;
    border: #666 16px inset;
}

#container{
    padding:0;
    height:auto;
    width:90%;
    background:none;
/*     border:#666 1px groove; */
}